* {margin: 0;padding: 0; box-sizing: border-box;}
*::before {box-sizing: border-box;}
*::after {box-sizing: border-box;}
ul, ol {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a { text-decoration: none; color: inherit; }
pre {
    font-family: "Fira Code Medium", Consolas, monospace;
}
$padding: 16px;
$main-color: #e14c46;
$border-color: #eee;
body {
    font-size: 16px;
}
.site-page {
    background: #ffffff;
    min-height: 100vh;
}
.site-header {
    position: sticky;
    top: 0;
    padding: 8px 0;
    border-bottom: 1px solid #DFDFDF;
    background: fade_out(#fff, 0.5);
    z-index: 9999;
    .logo {
        padding: 0 $padding;
        display: flex;
        align-items: center;
        > img {margin-right: 8px;}
        > span {
            color: $main-color;
            font-size: 32px;
        }
    }
}
.site-aside {
    border-right: 1px solid #EEEEEE;
    h2 {
        padding: 10px 40px;
        font-size: 18px;
    }
    h3 {
        padding: 10px 50px;
        font-size: 16px;
    }
    .first-floor {
        a {
            padding: 10px 40px;
            font-size: 18px;
        }
    }
    ul {
        min-width: 12em;
        > li {
            a {
                color: #333;
                display: block;
                padding: 8px 60px;
                &:hover {
                    color: $main-color;
                }
                &.active {
                    color: $main-color;
                    background: #FDF6F6;
                    border-right: 1px solid #E14C46;
                }
            }
        }
    }
}
.site-main {
    margin: 20px 200px 20px 40px;
}
.site-footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 16px 0;
    border-top: 1px solid $border-color;
}
#wui-docs {
    padding-left: 40px;
    h1 {
        margin: 40px 0 15px;
        font-size: 30px;
    }
    p {
        font-size: 14px;
        line-height: 30px;
        color: rgba(66,66,66,1);
    }
}
